<ul>
  <li
    class="video"
    *ngFor="let v of videos"
    (click)="videoClicked(v)"
    [class.selected]="v.id === activeVideoId"
  >
    <app-video-thumbnail [video]="v"></app-video-thumbnail>
  </li>
</ul>
