<app-video-list
  [videos]="(videoList | async) ?? []"
  [activeVideoId]="selectedVideoId | async"
  (videoSelected)="setSelectedVideo($event)"
></app-video-list>
<app-video-player [videoId]="selectedVideoId | async"></app-video-player>
<app-stat-filters></app-stat-filters>
